In [ ]:
!wget https://data.go.th/dataset/f5804870-7dc2-42df-86f3-769d6cc2ae23/resource/108c158a-0058-4c1a-bf4c-5f37df8bbafc/download/rtddi-tbhxua.zip

--2021-11-16 16:03:28--  https://data.go.th/dataset/f5804870-7dc2-42df-86f3-769d6cc2ae23/resource/108c158a-0058-4c1a-bf4c-5f37df8bbafc/download/rtddi-tbhxua.zip
Resolving data.go.th (data.go.th)... 164.115.75.59
Connecting to data.go.th (data.go.th)|164.115.75.59|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13326819 (13M) [application/zip]
Saving to: ‘rtddi-tbhxua.zip’

rtddi-tbhxua.zip    100%[===================>]  12.71M  2.22MB/s    in 5.8s

2021-11-16 16:03:35 (2.19 MB/s) - ‘rtddi-tbhxua.zip’ saved [13326819/13326819]

In [ ]:
!unzip rtddi-tbhxua.zip

Archive:  rtddi-tbhxua.zip
  inflating: kh-muulphuuesiiychiiwitcchaak-ubatiehtuthaangthnn-cchaakrabbbuurnaakaarkh-muulkaartaaycchaak-ubatiehtuthaangthnn-pii-54-63.xlsx
  inflating: data-dictionary-kh-muul-3-thaan.xlsx
  inflating: kham-thibaaywithiikaaraidmaachuengkh-muul.pdf
  inflating: kh-ptibatiainkaarcchadkaarkh-muulbuurnaakaarphuuesiiychiiwitcchaak-ubatiehtuthaangthnn.pdf
  inflating: datapackage.json

In [ ]:
import pandas as pd

In [ ]:
dat = pd.read_excel('kh-muulphuuesiiychiiwitcchaak-ubatiehtuthaangthnn-cchaakrabbbuurnaakaarkh-muulkaartaaycchaak-ubatiehtuthaangthnn-pii-54-63.xlsx')

In [ ]:
dat

             id  DEAD_YEAR(Budha)  ...  ICD-10                 Vehicle
0       8635072              2555  ...    V284           รถจักรยานยนต์
1       8635074              2555  ...    V892            ไม่ระบุพาหนะ
2       8635084              2555  ...    V892            ไม่ระบุพาหนะ
3       8640055              2555  ...    V892            ไม่ระบุพาหนะ
4       8634703              2555  ...    V846            ไม่ระบุพาหนะ
...         ...               ...  ...     ...                     ...
215384  8618959              2555  ...    V892            ไม่ระบุพาหนะ
215385  8619004              2555  ...    V299           รถจักรยานยนต์
215386  8618858              2555  ...    V299           รถจักรยานยนต์
215387  8619259              2555  ...    V499                  รถยนต์
215388  8618997              2555  ...    V599  รถบรรทุกขนาดเล็ก/รถตู้

[215389 rows x 22 columns]

In [ ]:
dat[['Age','AccProv','Vehicle']]

       Age   AccProv                 Vehicle
0       18  สุรินทร์           รถจักรยานยนต์
1       18  สุรินทร์            ไม่ระบุพาหนะ
2       21  สุรินทร์            ไม่ระบุพาหนะ
3       58  สุรินทร์            ไม่ระบุพาหนะ
4        4  ศรีสะเกษ            ไม่ระบุพาหนะ
...     ..       ...                     ...
215384  72     ระยอง            ไม่ระบุพาหนะ
215385  59     ระยอง           รถจักรยานยนต์
215386  51  จันทบุรี           รถจักรยานยนต์
215387  60  จันทบุรี                  รถยนต์
215388  37  จันทบุรี  รถบรรทุกขนาดเล็ก/รถตู้

[215389 rows x 3 columns]

In [ ]:
print(len(dat[(dat['AccProv'] == 'นครราชสีมา')]))
print(len(dat[(dat['AccProv'] == 'กรุงเทพมหานคร')]))

9848
8793

In [ ]:
set(dat['Vehicle'])

{'คนเดินเท้า',
 'รถจักรยาน',
 'รถจักรยานยนต์',
 'รถบรรทุกขนาดเล็ก/รถตู้',
 'รถบรรทุกหนัก',
 'รถยนต์',
 'รถเพื่อการเกษตร',
 'รถโดยสาร',
 'สามล้อ',
 'ไม่ระบุพาหนะ'}

In [ ]:
Mo = dat[(dat['Vehicle']=='รถจักรยานยนต์')]
Car = dat[(dat['Vehicle']=='รถยนต์')]
Van = dat[(dat['Vehicle']=='รถบรรทุกขนาดเล็ก/รถตู้')]
May = dat[(dat['Vehicle']=='รถโดยสาร')]
print(len(Mo))
print(len(Car))
print(len(Van))
print(len(May))

82396
16141
3557
294

In [ ]:
ve = dat[(dat['Vehicle']!='ไม่ระบุพาหนะ')]

In [ ]:
class_ve = ve['Vehicle'].value_counts()
class_ve = pd.DataFrame(class_ve)
class_ve['ชนิดของพาหนะ'] = class_ve.index
class_ve.columns = ['จำนวน','ชนิดของพาหนะ']
class_ve

                        จำนวน            ชนิดของพาหนะ
รถจักรยานยนต์           82396           รถจักรยานยนต์
รถยนต์                  16141                  รถยนต์
คนเดินเท้า               6893              คนเดินเท้า
รถบรรทุกขนาดเล็ก/รถตู้   3557  รถบรรทุกขนาดเล็ก/รถตู้
รถจักรยาน                 903               รถจักรยาน
รถบรรทุกหนัก              755            รถบรรทุกหนัก
สามล้อ                    334                  สามล้อ
รถโดยสาร                  294                รถโดยสาร
รถเพื่อการเกษตร            77         รถเพื่อการเกษตร

# *Data Vizualization จำนวนการเกิดอุบัติเหตุของพาหนะแต่ละประเภท*

In [ ]:
import plotly.express as px
px.bar(class_ve, x = 'ชนิดของพาหนะ', y = 'จำนวน', log_y = True)